<template name="ApplicationLayout">
    <header>
        <title>ChatRoom</title>
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </header>
    <body>
        <header>
            <nav role="navigation">
                <div class="nav-wrapper container">
                    <a href="/" id="logo-container" class="brand-logo">ChatRoom</a>
                    <ul class="right">
                        <li><a href=""><i class="material-icons left">Search</i>Find Friends</a></li>
                        <li>{{> loginButtons align= right}}</li>
                    </ul>
                </div>
            </nav>
        </header>
        <main>
            <footer class="page-footer">
                <div class="footer-copyright">
                    <div class="container">
                        @ ChatRoom Isaac Child 2016
                    </div>
                </div>
            </footer>
        </main>
    </body>

</template>